:root {
  --green: #d5eeb0;
  --green-dark: #6da813;
  --green-dark-70: rgba(108, 168, 19, 0.7);
  --green-light: rgb(244, 255, 229);
  --gray: rgb(156, 156, 156);
  --blue-lava: #32516a;
  --blue-lava-70: rgba(50, 81, 106, 0.70);
  --planetarium: #226eab;

  --red: rgb(207, 55, 39);

  --white: #ffffff;
  --white-70: rgba(255, 255, 255, 0.7);
  --black: #000000;
  --ff-nunito: "Nunito", sans-serif;

  --page-max-width: 1440px;
  --page-tablet-width: 768px;
  --page-min-width: 500px;
}

.light-theme {
  --page-bg-color: var(--white);
  --text-color: var(--blue-lava);
  --sidebar-color: var(--green);
  --btn-bg: var(--text-color);
  --btn-text: var(--page-bg-color);
  --btn-text-hover: var(--page-bg-color);
  --btn-outline-focus: var(--blue-lava-70);
  --btn-bg-hover: var(--planetarium);
  --btn-disabled: var(--gray);
  --list-link-bg-color: var(--green-light);
}

.dark-theme {
  --page-bg-color: #171615;
  --text-color: var(--white);
  --sidebar-color: var(--blue-lava);
  --btn-bg: var(--text-color);
  --btn-text: var(--page-bg-color);
  --btn-text-hover: var(--text-color);
  --btn-outline-focus: var(--white-70);
  --btn-bg-hover: var(--planetarium);
  --btn-disabled: var(--gray);
  --list-link-bg-color: var(--green-light);
  --list-link-bg-color: var(--blue-lava);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

.page {
  min-height: 100%;
  min-width: var(--page-min-width);
  background-color: var(--page-bg-color);
  color: var(--text-color);
  font-family: var(--ff-nunito);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  overflow-x: hidden;
}

.h1 {
  font-size: 2.488rem;
  line-height: 1.2;
  margin: 0;
}

.h2 {
  font-size: 2.074rem;
  line-height: 1.2;
  margin: 0;
}

.h3 {
  font-size: 1.728rem;
  line-height: 1.2;
  margin: 0;
}

.h4 {
  font-size: 1.44rem;
  line-height: 1.2;
  margin: 0;
}

.h5 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0;
}

.theme-switcher__switch {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.theme-switcher__slider {
  display: block;
  height: 1.6rem;
  position: relative;
  width: 3.6rem;
  background-color: var(--text-color);
  transition: 0.3s;
}

.theme-switcher__checkbox {
  display: none;
}

.theme-switcher__text {
  font-size: 1.2rem;
  font-weight: bold;
}

.theme-switcher__slider:before {
  background-color: var(--page-bg-color);
  content: "";
  top: 50%;
  transform: translate(0.2rem, -50%);
  height: 1.2rem;
  width: 1.2rem;
  left: 0;
  position: absolute;
  transition: 0.3s;
}

.theme-switcher__checkbox:checked+.theme-switcher__slider:before {
  transform: translate(2.2rem, -50%);
}

.theme-switcher__slider {
  border-radius: 1.6rem;
}

.theme-switcher__slider::before {
  border-radius: 50%;
}

.btn {
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  vertical-align: middle;
}

.btn:disabled {
  cursor: default;
}

.game-btn {
  border-radius: 5px;
  color: var(--btn-text);
  position: relative;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  font-weight: bold;
  background-color: var(--btn-bg);
}

.game-btn:focus {
  box-shadow: 0 0 0 3px var(--btn-outline-focus);
  outline: none;
}

.game-btn:not(:disabled):hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-text-hover);
}

.game-btn:disabled {
  color: var(--btn-disabled);
}

.sound-btn {
  background: no-repeat center / 80%;
  background-image: url("./../assets/svg/sound-enable_dark.svg");
  width: 2.5rem;
  height: 2.5rem;
}

.sound-btn_sound-off {
  background: no-repeat center / 80%;
  background-image: url("./../assets/svg/sound-disable_dark.svg");
}

.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger_active .hamburger__inner,
.hamburger_active .hamburger__inner::before,
.hamburger_active .hamburger__inner::after {
  background-color: currentColor
}

.hamburger__box {
  width: 45px;
  height: 20px;
  display: block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 45px;
  height: 2px;
  background-color: currentColor;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -9px;
}

.hamburger__inner::after {
  bottom: -9px;
}

.hamburger_type_slider .hamburger__inner {
  top: 1px;
}

.hamburger_type_slider .hamburger__inner::before {
  top: 9px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger_type_slider .hamburger__inner::after {
  top: 18px;
}

.hamburger_type_slider.hamburger_active .hamburger__inner {
  transform: translate3d(0, 9px, 0) rotate(45deg);
}

.hamburger_type_slider.hamburger_active .hamburger__inner::before {
  transform: rotate(-45deg) translate3d(-6.4285714286px, -7px, 0);
  opacity: 0;
}

.hamburger_type_slider.hamburger_active .hamburger__inner::after {
  transform: translate3d(0, -18px, 0) rotate(-90deg);
}